---
layout: layout
title: Photos of Blacklion
---
<div class="navbar-wrapper">
  <div class="container">

    <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Photos of Blacklion</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
    </nav>

  </div>
</div>
<div class="jumbotron">
  <div class="container">
  </div>
</div>
<div class="container marketing">
  <div class="row">
    <h2>Latest Galleries</h2>
  </div>
  <div class="row">
    {% assign albums = site.albums | reverse %}
    {% for album in albums limit:9 %}
    {% include latest.html gallery=album %}
    {% endfor %}
  </div>
  <div class="row">
    <h2>Older Galleries</h2>
  </div>
  <div class="row">
    <a class="btn btn-default" href="/years/2016">2016</a>
    <a class="btn btn-default" href="/years/2015">2015</a>
    <a class="btn btn-default" href="/years/2014">2014</a>
    <a class="btn btn-default" href="/years/2013">2013</a>
    <a class="btn btn-default" href="/years/2012">2012</a>
    <a class="btn btn-default" href="/years/2011">2011</a>
    <a class="btn btn-default" href="/years/2010">2010</a>
    <a class="btn btn-default" href="/years/2009">2009</a>
    <a class="btn btn-default" href="/years/2008">2008</a>
    <a class="btn btn-default" href="/years/2007">2007</a>
    <a class="btn btn-default" href="/years/2006">2006</a>
  </div>
</div>
