---
layout: layout
opengraph: true
---

<div class="container marketing">
  <div class="row album-header" style="background: url(https://photosofblacklion.b-cdn.net{{ page.photos[0].original }}) center no-repeat;">
  <div class="dimmer">
    <h3>
      {{ page.title }}
      <br /><small>{{ page.date | date: "%A, %-d %B, %Y" }}</small>
      <br /><small>{{ page.photos.size }} photos</small>
    </h3>
  </div>
  </div>
  <div class="row">
    {{ content }}
  </div>
  <div id="links">
    {%- for photo in page.photos %}
    <a href="https://photosofblacklion.b-cdn.net{{ photo.original }}" title="{{ photo.title }}" data-gallery>
      <img src="https://photosofblacklion.b-cdn.net{{ photo.thumbnail }}" alt="{{ photo.title }}">
    </a>
    {%- endfor %}
  </div>
</div>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev" href="javascript:;">‹</a>
    <a class="next" href="javascript:;">›</a>
    <a class="close" href="javascript:;">×</a>
    <a class="play-pause" href="javascript:;"></a>
</div>
